.callingBox { position: fixed; flex-direction: column; left: 0; top: 0; display: flex; height: 100%; width: 100%; z-index: 16; transition: all 0.3s; background: #fff; }
.callingBox__nameTag { padding: 0.25rem 0.5rem; font-size: 1.0rem; position: absolute; left: 0; bottom: 0; z-index: 1; color: #ffffff; display: block; background: #4E4957; overflow: hidden; text-overflow: ellipsis; width: calc(100%);}
.callingBox__nameTag--seller { background: #41390C; }
.callingBox__video { width: 100%; height: 100%; position: relative; border: 1px solid black; overflow: hidden;}
.callingBox__video .icon-btn { position: absolute; left: 0; top: 0; }
.callingBox__buttons { padding: 1.5rem 0; position: fixed; left: 0; bottom: 0; list-style-type: none; width: 100%; display: flex; align-items: center; justify-content: space-evenly; background: #000000; }

.callingBox__header { padding: 0.5rem 2.5rem; display: flex; align-items: center; justify-content: space-between; color: #fff; background: #262626; position: fixed; left: 0; top: 0; width: 100%; z-index: 1; min-height: 4.1rem;}
.callingBox__header p { font-size: 1.5rem; line-height: 2.25rem; font-weight: 500; }
.callingBox__header .btn-extend { padding: 0.75rem 1rem; border-radius: 0.625rem; display: inline-block; background: #BC3509; font-size: 1.5rem; text-decoration: none; color: #fff; font-weight: 600; }
.callingBox__header-right { display: flex; align-items: center; }

.callingBox__body { display: flex; }
.callingBox__body.callingBox__body-right__active .callingBox__left { flex-direction: column; width: 53%; }
.callingBox__body.callingBox__body-right__active .callingBox__left.pin-video-active .callingBox__left-inner { width: 100%; display: block; height: 31rem; white-space: nowrap; text-align: center; }
.callingBox__body.callingBox__body-right__active .callingBox__left.pin-video-active .callingBox__left-inner .callingBox__video { width: 20rem; display: inline-block; }

.callingBox__left { padding: 0; display: flex; width: 100%; position: relative; background: #000000; }
.callingBox__left-inner { position: relative; height: 100%; display: grid; width: 100% }
.callingBox__left.pin-video-active .callingBox__left-inner .callingBox__nameTag { padding: 1rem 2rem; }
.callingBox__left.pin-video-active .callingBox__left-inner { display: block; overflow: auto; grid-template-columns: auto !important; width: 27rem; }
.callingBox__left.pin-video-active .callingBox__left-inner .callingBox__video { height: 20rem; }

.callingBox__right { padding-top: 4.3rem; min-width: 47%; max-width: 47%; display: flex; flex-direction: column; position: relative; border-left: 4px solid #000; background-color: #1b110a; background-image: linear-gradient(to right, #1b110a , #393326); }

.open-chat-button__wrapper { position: absolute; right: 0; top: 50%; margin-top: -6.25rem; z-index: 8; border-radius: 1.875rem 0 0 1.875rem; background: #A59A5E; }
.open-chat-button__wrapper .open-chat-button:first-child { padding-top: 3rem; padding-bottom: 1.5rem; }
.open-chat-button { padding: 1.5rem 0.75rem 3rem 1.25rem; color: #fff; text-decoration: none; border-radius: 1.875rem 0 0 1.875rem; display: block; font-size: 1.875rem; }
.open-chat-button.active,
.open-chat-button:hover { background: #887C3C; }

/* .link-btn { position: absolute; right: 2rem; top: 50%; margin-top: -1.625rem; padding: 1rem 2.5rem; border-radius: 5rem; cursor: pointer; background: #A59A5E; display: flex; height: 3.5rem; border: medium none; color: #fff; font-size: 1.125rem; white-space: nowrap; align-items: center; } */
.link-btn > i { margin-right: 0.5rem; font-size: 1.5rem; }
.link-btn img { height: 40px; }
.link-btn:focus { outline: none; }
.link-btn.link-btn--left { padding-top: 0; padding-bottom: 0; right: auto; left: 1rem; }

.callingBox__buttons-list { list-style-type: none;  display: flex; align-items: center; justify-content: center; width: 100%; }
.callingBox__buttons-list > li { padding: 0 2.5%; }
.callingBox__buttons-list > li > .icon-btn { color: #fff; cursor: pointer; position: relative; z-index: 0; text-decoration: none; border: 1px solid rgba(89, 89, 89, 0.6); font-size: 1.4rem; height: 3.125rem; width: 3.125rem; border-radius: 50%; transition: all 0.3s; background:rgba(89, 89, 89, 0.6); }
.callingBox__buttons-list > li > .icon-btn--red { background: #F04453; color: #ffffff; border-color: #F04453; outline: none; font-size: 1.7rem; height: 4rem; width: 4rem; }
.callingBox__buttons-list > li > .icon-btn:focus { outline: none; }
.callingBox__buttons__left { position: absolute; left: 2rem; top: 50%; margin-top: -1.625rem; display: flex; }

.callingBox__switch { z-index: 11; }
.callingBox__switch .link-btn { position: static; margin: 0; }
.callingBox__switch-dropdown { padding: 0; height: 0; list-style-type: none; overflow: hidden; width: 100%; transition: all 0.3s; margin-bottom: -3.5rem; position: absolute; left: 0; border-radius: 2rem 2rem 0 0; bottom: 100%; background: #5196FF; z-index: -1; }
.callingBox__switch-dropdown li a { padding: 1.25rem 2.5rem; text-decoration: none; cursor: pointer; background: #A59A5E; display: flex; border: medium none; color: #fff; font-size: 1.25rem; align-items: center; }
.callingBox__switch-dropdown li a i { margin-right: 0.5rem; font-size: 1.5rem; }
.callingBox__switch.active .callingBox__switch-dropdown { padding: 1rem 0; margin-bottom: 0; z-index: 0; width: 100%; height: auto;}
.callingBox__switch.active .link-btn { border-radius: 0 0 2rem 2rem; }

.callingBox__video-wrapper { width: 100%; padding: 1.25rem; text-align: center; height: 25rem; overflow: auto; white-space: nowrap; overflow-y: hidden; }
.callingBox__video-wrapper .callingBox__video { margin: 0 0.625rem; width: 15rem; display: inline-block; }
.shared-screenBox { background: #000000; height: 100%; width: 100%; display: block; }

.call-end-notification { padding: 0.875rem 1.9rem; font-size: 1rem;  min-width: 280px; line-height: 1.4rem; text-align: center; color: #fff; position: absolute; left: 50%; top: 100px; z-index: 100000; border-radius: 10px; background: #161616; transform: translate(-50%,0); }
.call-end-notification span { display: block; opacity: 0.7; }

.shared-screenBox video::-webkit-media-controls-fullscreen-button {}
.shared-screenBox video::-webkit-media-controls-play-button { display: none; }
.shared-screenBox video::-webkit-media-controls-play-button { display: none; }
.shared-screenBox video::-webkit-media-controls-timeline { display: none; }
.shared-screenBox video::-webkit-media-controls-current-time-display{ display: none; }
.shared-screenBox video::-webkit-media-controls-time-remaining-display { display: none; }
.shared-screenBox video::-webkit-media-controls-time-remaining-display { display: none; }
.shared-screenBox video::-webkit-media-controls-mute-button { display: none; }
.shared-screenBox video::-webkit-media-controls-toggle-closed-captions-button { display: none; }
.shared-screenBox video::-webkit-media-controls-volume-slider { display: none; }
.shared-screenBox video { min-width: 100% !important; min-height: 100% !important; width: 100% !important; height: 100%;}

.has-video { position: relative; overflow: hidden; height: 100%; width: 100%; }
.has-video video { position: absolute; top: 50%; left: 50%; min-width: 110%; min-height: 130%; width: auto; height: 100%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); background-size: cover; }
.has-video .full-screen-btn { padding: 1rem; font-size: 1.25rem; height: 3.5rem; width: 3.5rem; position: absolute; left: 1rem; top: 1.125rem; background: rgba(0, 0, 0, 0.7); border-radius: 50%; border: medium none; color: #fff; cursor: pointer; z-index: 1; }
.has-video .full-screen-btn:focus { outline: none; }

.callingBox__video-container { height: 100%; width: 100%; }
.callingBox__video-container.callingBox__video-container--audio { background: rgba(255, 255, 255, 0.2);}
.callingBox__video-container.callingBox__video-container--audio .callingBox__nameTag { display: flex; font-size: 1.25rem; align-items: center; justify-content: center; z-index: 0; text-align: center; height: 10rem; width: 10rem; left: 50%; top: 50%; border-radius: 50%; margin: -5rem 0 0 -5rem; }
.callingBox__video-container.callingBox__video-container--audio .callingBox__nameTag:after,
.callingBox__video-container.callingBox__video-container--audio .callingBox__nameTag::before { content: ""; position: absolute; left: 0; top: 0; z-index: -1; height: 100%; width: 100%; border-radius: 50%; background: rgba(255, 255, 255, 0.2); animation-duration: 2s; animation-iteration-count: infinite; }
.callingBox__video-container.callingBox__video-container--audio .callingBox__nameTag.user-speaking::after { animation-name: ripple1; }
.callingBox__video-container.callingBox__video-container--audio .callingBox__nameTag.user-speaking::before { animation-name: ripple2; animation-delay: 1s; }
.callingBox__video-wrapper.shared-active .callingBox__video-container.callingBox__video-container--audio .callingBox__nameTag { font-size: 1rem; height: 6rem; width: 6rem; margin: -3rem 0 0 -3rem; }

/* Slider Container */
.callingBox .buyer-collection { height: 100%; background: rgba(0, 0, 0, 0.2); backdrop-filter: blur(12.125rem); }
.callingBox .slider-container { position: absolute; padding-right: 0; left: 0; top: 0; z-index: 1; height: 100%; overflow: auto; background: rgba(0,0,0,0.5); }
.callingBox .main-slider__wrapper { padding: 2.625rem 6rem 2.625rem; }
.callingBox .main-slider { position: relative; box-shadow: 0px 0.25rem 2.75rem rgba(0, 0, 0, 0.55); border-radius: 1.125rem; background: #ffffff; }
.callingBox .main-slider .slide-item { padding: 1.5rem; color: rgba(0, 0, 0, 0.8);; outline: none; }
.callingBox .main-slider .slide-item__title { padding-bottom: 1.625rem; font-size: 1.625rem; font-weight: 700; }
.callingBox .main-slider .slide-item__desc { font-size: 1.5rem; line-height: 2.25rem; font-weight: normal; }
.callingBox .main-slider .slide-item__btn { margin: 0; padding: 2.25rem 3rem; font-weight: 700; display: inline-block; white-space: nowrap; text-align: center; border-radius: 0.3125rem; font-size: 1.25rem; color: #fff; text-decoration: none; background: linear-gradient(137.19deg, #A59A5E 1.27%, #887C3C 39.95%, #BCAB51 83.35%, #A59A5E 91.84%), linear-gradient(141.16deg, #F0DD2F -1.41%, #D39904 77.7%), linear-gradient(181.26deg, #2AAB7D 19.13%, #068A5B 98.93%);; }
.callingBox .main-slider .slide-item__pic { display: flex; align-items: center; height: 32rem; }
.callingBox .main-slider .slide-item__pic img { margin: 0 auto; height: 100%; }
.callingBox .main-slider .slick-slide { outline: none; }
.callingBox .main-slider .slick-prev, .callingBox .main-slider .slick-next { top: 23.75rem; height: 3.75rem; width: 3.75rem; border-radius: 50%; background: rgba(0, 0, 0, 0.8); text-align: center; line-height: 100%; }
.callingBox .main-slider .slick-next { right: -5rem; }
.callingBox .main-slider .slick-prev { left: -5rem; }
.callingBox .main-slider .slick-prev:before, 
.callingBox .main-slider .slick-next:before { font-size: 1.75rem; font-family: 'icomoon' !important; color: #ffffff; opacity: 1; }
.callingBox .main-slider .slick-prev:before { content: "\e900"; }
.callingBox .main-slider .slick-next:before { content: "\e901"; }
.callingBox__close { padding: 1rem; position: absolute; font-size: 1.5rem; border: medium none; right: 0.5rem; top: 0.5rem; min-width: auto; color: #ffffff; background: #000; border-radius: 50%; }

/* Slider Thumbnails */
.callingBox .slider-thumbnails { padding: 3rem 6rem 0; position: static; width: 100%; height: 100%; overflow: auto; }
.position-relative { position: relative; }
.callingBox .slider-thumbnails__list { margin: 0 -0.75rem; list-style-type: none; overflow: auto; max-height: 100%; display: flex; flex-wrap: wrap; }
.callingBox .slider-thumbnails__list > li { position: relative; width: 16.66%; display: block; margin: 0 0 2rem; text-align: center; font-size: 1.25rem; }
.callingBox .slider-thumbnails__list > li.active > a { border: 0.3125rem solid #A69B62; border-radius: 0.625rem; }
.callingBox .slider-thumbnails__list > li > a { position: relative; margin-bottom: 0.5rem; display: flex; align-items: center; margin-right: auto; margin-left: auto; width: 6rem; height: 6rem; background: #ffffff; border-radius: 0.625rem; overflow: hidden; }
.callingBox .slider-thumbnails__list > li > span { display: block; }
.callingBox .slider-thumbnails__list > li > a > img { max-width: 100%; max-height: 100%; margin: auto; }
.callingBox .slider-thumbnails__list .slider-thumbnails__wishlist { position: absolute; right: 0.5rem; top: 0.5rem; font-size: 0.875rem; height: 2rem; width: 2rem; line-height: 2rem; border-radius: 50%; }
.callingBox .slider-thumbnails__list .wishlist--green { color: #ffffff; background: #2AAB7D; }
.callingBox .slider-thumbnails__list .wishlist--yellow { color: #D39904; background: #000; }
.callingBox .slider-thumbnails__list .slider-thumbnails__title { display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-size: 1.25rem; color: rgba(255,255,255,0.6); }
.callingBox .slider-thumbnails .slick-prev, .callingBox .slider-thumbnails .slick-next { top: 50%; margin-top: -1.75rem; height: 2.75rem; width: 2.75rem; border-radius: 50%; background: rgba(0, 0, 0, 0.8); text-align: center; line-height: 100%; }
.callingBox .slider-thumbnails .slick-next { right: -4.5rem; }
.callingBox .slider-thumbnails .slick-prev { left: -4.5rem; }
.callingBox .slider-thumbnails .slick-prev:before, 
.callingBox .slider-thumbnails .slick-next:before { font-size: 1rem; font-family: 'icomoon' !important; color: #ffffff; opacity: 1; }
.callingBox .slider-thumbnails .slick-prev:before { content: "\e900"; }
.callingBox .slider-thumbnails .slick-next:before { content: "\e901"; }


/* Modals */
.callingBox__modal { display: flex; justify-content: center; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.88); z-index: 11; }
.callingBox__modal__inner { padding: 0; margin: auto; max-width: 36rem; width: 100%; position: relative; background: #292929; z-index: 1; }

.callingBox__modal .form-group { margin-bottom: 2.5rem; }
.callingBox__modal .form-label { font-weight: 700; margin-bottom: 1rem }
.callingBox__modal .form-control { padding: 1.625rem 1rem; border: 1px solid #fff; font-size: 1.125rem; line-height: 2rem; border-radius: 0.3125rem; color: #fff; background: #292929; }
.callingBox__modal .btn-status { padding: 1.5rem 1.25rem; text-transform: none; color: #43C12E; font-weight: 700; border-radius: 0.3125rem; text-align: left; position: relative; min-width: 14rem; }
.callingBox__modal .btn-status:after { content: ""; position: absolute; right: 1rem; top: 50%; margin-top: -0.375rem; height: 0.75rem; width: 0.75rem; border-radius: 50%; }
.callingBox__modal .btn-status--online { color: #43C12E; }
.callingBox__modal .btn-status--online:after { background: #43C12E; }
.callingBox__modal .btn-status--offline { color: #F52222; }
.callingBox__modal .btn-status--offline:after { background: #F52222; }
.callingBox__modal .btn-status--away { color: #F5D320; }
.callingBox__modal .btn-status--away:after { background: #F5D320; }

.callingBox__modal .link-btn { margin: 0 0.75rem; position: static; background: rgba(89, 89, 89, 0.6); padding: 0; height: 3rem; width: 3rem; display: block; text-align: center; }
.callingBox__modal .link-btn i { margin: 0; }
.form-group__has-icons { display: flex; align-items: center; }

.callingBox__modal__header { padding: 2rem; border: 1px solid #393939; }
.callingBox__modal__header__title { font-weight: 700; font-size: 1.625rem; color: #ffffff; }

.callingBox__modal__body { padding: 2rem; }
.callingBox__modal__body__title { padding: 1.5rem 0; font-size: 1.625rem; color: #ffffff; }
.callingBox__modal__footer { padding: 2rem; display: flex; }

.callingBox__modal__overlay { position: fixed; left: 0; top: 0; width: 100%; height: 100%; }
.callingBox__modal__close { position: absolute; right: 2rem; top: 2rem; border: medium none; text-decoration: none; font-size: 1.5rem; color: #ffffff; background: transparent; }
.callingBox__modal__close:focus { outline: none; }

.volume-level { width: 20px; }
.volume-level > li { margin: 0.5rem 0; display: block; width: 100%; height: 5px; background: #131313; }
.volume-level > li.active { background: #43C12E; }

.has-notification { position: relative; }
.has-notification:after { content: ""; position: absolute; right: 0; top: 0; margin-top: -0.375rem; height: 0.75rem; width: 0.75rem; border-radius: 50%; background: #F52222; }


@keyframes ripple1 {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

@keyframes ripple2 {
    0% { transform: scale(1); }
    50% { transform: scale(2); }
    100% { transform: scale(1); }
}

/* Tablet */
@media only screen and (min-width: 767px) {
}

/* Desktop */
@media only screen and (min-width: 991px) {}
