@import url(https://fonts.googleapis.com/css?family=Dosis|Itim);
body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  background-color: #ededed;
}
.top-header {
  background-color: #fff;
  height: 65px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  border: inset #4a55e3;
  border-width: 0 0 8px;
}
.main__container {
  margin: 2em auto;
  width: 68%;
  position: relative;
}
.login-btn {
  color: #fff;
  display: inline-block;
  background-color: rgb(73 81 236);
  background-repeat: no-repeat;
  padding: 15px 75px;
  font-size: 20px;
  border: 0;
  border-radius: 18px;
}
.login-btn:hover {
  background-color: #000;
  color: rgb(73 81 236);
  box-shadow: 0 0 14px rgb(73 81 236);
}
.login-area {
  background-color: #2d2d2d;
  margin: -15px;
  padding: 50px;
  border-radius: 1rem;
}
.outer-box-login {
  margin-top: 15rem;
  color: #fff;
  background: rgb(73 81 236);
  border-radius: 1rem;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 17px 10px hsla(0, 0%, 52.5%, 0.44);
}
.offlineUser {
  color: red;
}
.offlineUser,
.onlineUser {
  text-transform: capitalize;
}
.onlineUser {
  color: #4caf50;
}
.user-data-info {
  display: flex;
  height: 50px;
  padding: 5px;
  background-color: #fff;
  justify-content: space-between;
}
.user-data-info-image {
  height: 40px;
}
.user-data-info-text {
  margin: auto;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.left__section {
  height: 90vh;
  flex: 1 1;
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  transition: all 0.8s;
  border-radius: 0 0 5px 5px;
  min-width: 70px;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 5;
  box-shadow: 5px -1px 12px #4a55e3;
}
.right__section {
  flex: 3 1;
  background-color: #f7f4f4;
  display: flex;
  flex-direction: column;
  height: 90vh;
}
.message__type__box,
.right__section {
  position: relative;
  border-radius: 0 0 3px 0;
}
.message__type__box {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  border-top: 1px solid #4a55e3;
}
.message__type__box > input,
.message__type__box > textarea {
  height: 55px;
  width: 100%;
  margin: 0;
  padding: 10px 85px 5px 16px;
  box-sizing: border-box;
  border: 0 solid #ccc;
  border-radius: 0;
  background-color: #fff;
  resize: none;
  float: left;
  box-shadow: none;
  line-height: 26px;
  font-family: "Dosis", sans-serif;
}
.message__type__box > input:focus {
  border: 0 solid #fff;
  outline: none;
}
.message__type__box > textarea:focus {
  border: 0 solid #607d8b;
  outline: none;
}
.message__type__box > button {
  position: absolute;
  right: 6px;
  top: 13px;
  padding: 5px 15px;
  border: 0 solid hsla(0, 0%, 80%, 0.53);
  background: transparent;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Itim", cursive;
  color: #4a55e3;
}
.message__type__box .emojiIcon {
  position: absolute;
  top: 1px;
  right: 46px;
  font-size: 30px;
  cursor: pointer;
  color: #333;
}
.message__type__box .emojiIcon:hover {
  color: red;
}
.openNav {
  display: none;
}
.closeNav,
.openNav {
  cursor: pointer;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}
.closeNav {
  display: block;
}
.userList {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-grid;
  width: 100%;
}
.userList a {
  border-bottom: 1px solid rgba(255, 0, 0, 0.07);
  float: left;
  padding: 8px 0;
  font-family: "Itim", cursive;
  cursor: pointer;
  position: relative;
}
.userList img {
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}
.userList span {
  text-transform: capitalize;
  padding-top: 10px;
  float: left;
  color: rgba(74, 85, 227, 0.74);
}
.userList .notify {
  position: absolute;
  border: 0 solid;
  background: rgba(234, 71, 99, 0.87);
  color: #fff;
  width: 20px;
  height: 20px;
  padding: 0;
  text-align: center;
  border-radius: 50%;
  left: 0;
  top: 0;
}
.message__box {
  flex: 1 1;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding-left: 12px;
  overflow-y: auto;
  padding-bottom: 12px;
}
.scrollbar-style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
.scrollbar-style::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
.scrollbar-style::-webkit-scrollbar-thumb {
  background-color: #000;
}
.msg__text {
  display: flex;
  padding-right: 12px;
  padding-top: 12px;
}
.msg__text img {
  margin-right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.msg__text span {
  background-color: #fff;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 1px 10px 10px 15px;
  font-family: "Dosis", sans-serif;
  box-shadow: 0 -4px 41px -12px rgba(0, 0, 0, 0.39);
  min-width: 185px;
  word-break: break-all;
}
.msg__text__right {
  display: flex;
  padding-right: 12px;
  padding-top: 12px;
  flex-flow: row-reverse;
}
.msg__text__right img {
  margin-left: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.msg__text__right span {
  background-color: #4a55e3;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 10px 1px 10px 15px;
  font-family: "Dosis", sans-serif;
  box-shadow: 0 -4px 41px -12px rgba(0, 0, 0, 0.39);
  min-width: 185px;
  color: #fff;
}
.emoji {
  position: absolute;
  background: #fff;
  font-size: 22px;
  bottom: 56px;
  right: 0;
  width: 45%;
  height: 200px;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  overflow-y: scroll;
  z-index: 9999999;
  scroll-behavior: smooth;
  overflow-x: hidden;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.12);
  display: none;
}
.emoji a {
  cursor: pointer;
  color: #000;
}
.emoji a:hover {
  text-decoration: none;
  color: #4a55e3;
}
.stallName {
  font-size: 25px;
  color: #000;
}
.signout {
  bottom: 7px;
  left: 25px;
  padding: 5px 16px;
  border: 0;
  background: #4a55e3;
  color: #fff;
  border-radius: 3px;
}
.spinner {
  margin: 0;
  text-align: center;
}
.spinner > div {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s ease-in-out infinite both;
  animation: sk-bouncedelay 1.4s ease-in-out infinite both;
  background: #000;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@media only screen and (max-width: 768px) {
  .main__container {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
  }
  .wrapper {
    display: flex;
    flex-wrap: nowrap;
  }
  .left__section {
    height: 100vh;
    min-width: 40%;
    transition: all 0.4s;
  }
  .emoji {
    bottom: -9px;
  }
  .right__section {
    height: 100vh;
    min-width: 60%;
  }
  .openNav {
    margin-right: -10px;
    margin-top: 0;
    background: #fff;
    position: absolute;
    left: 0;
    z-index: 111111;
    padding: 5px 10px;
    color: #4a55e3;
  }
}
/*# sourceMappingURL=main.7e113e28.chunk.css.map */
