.chat-container { height: 100%; width: 100%; }
.chat-section { display: flex; flex-direction: column; padding: 0; position: relative; height: 100%; background: #E9ECEF;}
.chat-section__header { padding: 0.625rem 0.9375rem; color: #ffffff; position: relative; min-height: 3.625rem; display: flex; align-items: center; justify-content: space-between; background: #242222; }
.chat-section__header .user-block__pic { width: 1.875rem; }
.chat-section__header {}
.chat-section__header {}

.chat-section__body { width: 100%; height: 100%; padding: 1.5625rem 3.125rem; max-height: 100%; overflow: auto; }
.chat-section__body .chat-section__message { padding: 0; color: #000000; display: flex; align-items: flex-start; padding-bottom: 1.5625rem; width: 100%; }
.chat-section__body .chat-section__text { padding: 1rem 1.5rem; margin-left: 0.4375rem; width: 100%; font-size: 0.75rem; font-weight: 500; line-height: 1rem; border-radius: 0.3125rem; background: #C4C4C4; }
.chat-section__body .chat-section__profile { text-align: center; font-size: 0.6rem; min-width: 3.75rem; }
.chat-section__body .chat-section__profile img { margin: 0 auto 5px; display: block; width: 3.125rem; height: 3.125rem; border-radius: 50%; }
.chat-section__body .chat-section__message.chat-section__message--received { padding-right: 36%; }
.chat-section__body .chat-section__message.chat-section__message--received .chat-section__text { border-top-left-radius: 0; }
.chat-section__body .chat-section__message.chat-section__message--sent { padding-left: 36%; align-self: flex-end; }
.chat-section__body .chat-section__message.chat-section__message--sent .chat-section__text { margin-right: 0.4375rem; margin-left: 0; border-top-right-radius: 0; }

.chat-section__footer { padding: 2.1875rem 3.125rem; display: flex; align-items: center; min-height: 4.0625rem; background: #E9ECEF; box-shadow: 0px -2px 18px rgba(0, 0, 0, 0.06); }
.chat-section__form { width: 100%; display: flex; justify-content: space-between; }
.chat-section__input { padding: 0.9375rem 1.5625rem; resize: none; font-family: 'Montserrat', sans-serif; font-weight: 600; font-size: 1.25rem; height: 3.75rem; width: 100%; border: 1px solid #000000; border-radius: 0.3125rem; background: #C4C4C4; }
.chat-section__btn { padding: 2px 0.75rem; font-size: 2rem; background: transparent; border: medium none; }
.chat-section__btn i { line-height: 1.875rem; }
.chat-section__btn:focus, .chat-section__input:focus { outline: none; }

/* Tablet */
@media only screen and (min-width: 767px) {}

/* Desktop */
@media only screen and (min-width: 991px) {}

