.chat-box { height: 94vh; }
.callingBox__header { padding: 1.5rem 2rem; display: flex; justify-content: space-between; color: #fff; background: #000000; position: absolute; left: 0; top: 0; width: 100%; z-index: 1; }
.callingBox__header .btn { min-width: 0; }

.callingBox__left { padding: 7.75rem 1rem 8rem; display: flex; flex-direction: column; position: relative; background: #000000; }
.callingBox__right { padding-top: 4.25rem; display: flex; flex-direction: column; position: relative; }
.callingBox-bg-light { background: rgba(0, 0, 0, 0.2); }

.callingBox { flex-direction: column; display: flex; position: relative; height: 100%; width: 100%; z-index: 12; transition: all 0.3s; background: #fff; }
.callingBox .row { margin: 0; }
.callingBox .col-6 { padding: 0; }
.callingBox__video { width: 100%; height: 100%; position: relative; }
.callingBox__nameTag { padding: 0.3125rem 1rem; font-size: 1.25rem; position: absolute; left: 0; bottom: 0; z-index: 1; color: #ffffff; display: block; background: #4E4957; }
.callingBox__video .icon-btn { position: absolute; left: 0; top: 0; }

.callingBox__buttons { padding: 2rem 0; position: absolute; left: 0; bottom: 0; list-style-type: none; width: 100%; display: flex; align-items: center; justify-content: space-evenly; background: #000000; }
.link-btn { position: absolute; right: 1rem; top: 50%; margin-top: -1.625rem; padding: 1rem 2.5rem; border-radius: 5rem; cursor: pointer; background: #5196FF; display: flex; height: 3.5rem; border: medium none; color: #fff; font-size: 1.25rem; align-items: center; }
.link-btn > i { margin-right: 0.5rem; font-size: 1.5rem; }
.link-btn img { height: 40px; }
.link-btn:focus { outline: none; }
.link-btn.link-btn--left { padding-top: 0; padding-bottom: 0; right: auto; left: 1rem; }

.callingBox__buttons-list { list-style-type: none;  display: flex; align-items: center; justify-content: center; width: 100%; }
.callingBox__buttons-list > li { padding: 0 1rem; }
.callingBox__buttons-list > li > .icon-btn { color: #fff; cursor: pointer; position: relative; z-index: 0; text-decoration: none; border: 1px solid #fff; font-size: 1.4rem; height: 3.125rem; width: 3.125rem; border-radius: 50%; transition: all 0.3s; }
.callingBox__buttons-list > li > .icon-btn--red { background: #F04453; color: #ffffff; border-color: #F04453; outline: none; font-size: 1.7rem; height: 4rem; width: 4rem; }
.callingBox__buttons-list > li > .icon-btn:focus { outline: none; }
.callingBox__buttons.callingBox__buttons__gradient { background: linear-gradient(169.1deg, #EE4D80 -6.4%, #C6437B 1.58%, #993776 12.05%, #732D71 22.96%, #53246D 34.19%, #3B1E6A 45.8%, #2A1A68 58.01%, #1F1766 71.13%, #1C1666 86.92%, #1C1A6A 114.81%, #1E2674 143.11%, #203A85 171.5%, #224992 187.14%); }

.callingBox__switch { position: absolute; left: 1rem; top: 50%; margin-top: -1.625rem; z-index: 11; }
.callingBox__switch .link-btn { position: static; margin: 0; }
.callingBox__switch-dropdown { padding: 0; height: 0; list-style-type: none; overflow: hidden; width: 100%; transition: all 0.3s; margin-bottom: -3.5rem; position: absolute; left: 0; border-radius: 2rem 2rem 0 0; bottom: 100%; background: #5196FF; z-index: -1; }
.callingBox__switch-dropdown li a { padding: 1.25rem 2.5rem; text-decoration: none; cursor: pointer; background: #5196FF; display: flex; border: medium none; color: #fff; font-size: 1.25rem; align-items: center; }
.callingBox__switch-dropdown li a i { margin-right: 0.5rem; font-size: 1.5rem; }
.callingBox__switch.active .callingBox__switch-dropdown { padding: 1rem 0; margin-bottom: 0; z-index: 0; width: 100%; height: auto;}
.callingBox__switch.active .link-btn { border-radius: 0 0 2rem 2rem; }

.headerBox__gradient { z-index: 20; background: linear-gradient(169.1deg, #EE4D80 -6.4%, #C6437B 1.58%, #993776 12.05%, #732D71 22.96%, #53246D 34.19%, #3B1E6A 45.8%, #2A1A68 58.01%, #1F1766 71.13%, #1C1666 86.92%, #1C1A6A 114.81%, #1E2674 143.11%, #203A85 171.5%, #224992 187.14%); }
.headerBox__gradient .link-btn { margin: 0; padding: 0; height: auto; position: static; display: flex; align-items: center; justify-content: space-between; }
.headerBox__gradient .link-btn span { padding: 0; border-left: none; }
.headerBox__gradient .link-btn img { height: 30px; }

.callingBox__video-wrapper { width: 100%; padding: 1.25rem; text-align: center; height: 15rem; overflow: auto; white-space: nowrap; overflow-y: hidden; }
.callingBox__video-wrapper .callingBox__video { margin: 0 0.625rem; width: 15rem; display: inline-block; }
.shared-screenBox { background: #000000; height: 100%; width: 100%; display: none; }
.shared-screenBox.active { display: block; }

.call-end-notification { padding: 0.875rem 1.9rem; font-size: 1rem;  min-width: 280px; line-height: 1.4rem; text-align: center; color: #fff; position: absolute; left: 50%; top: 100px; z-index: 100000; border-radius: 10px; background: #161616; transform: translate(-50%,0); }
.call-end-notification span { display: block; opacity: 0.7; }

.shared-screenBox video::-webkit-media-controls-fullscreen-button {}
.shared-screenBox video::-webkit-media-controls-play-button { display: none; }
.shared-screenBox video::-webkit-media-controls-play-button { display: none; }
.shared-screenBox video::-webkit-media-controls-timeline { display: none; }
.shared-screenBox video::-webkit-media-controls-current-time-display{ display: none; }
.shared-screenBox video::-webkit-media-controls-time-remaining-display { display: none; }
.shared-screenBox video::-webkit-media-controls-time-remaining-display { display: none; }
.shared-screenBox video::-webkit-media-controls-mute-button { display: none; }
.shared-screenBox video::-webkit-media-controls-toggle-closed-captions-button { display: none; }
.shared-screenBox video::-webkit-media-controls-volume-slider { display: none; }

.has-video { position: relative; overflow: hidden; height: 100%; width: 100%; }
.has-video video { position: absolute; top: 50%; left: 50%; min-width: 100%; min-height: 100%; width: auto; height: 100%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); background-size: cover; }
.has-video .full-screen-btn { padding: 1rem; font-size: 2rem; position: absolute; right: 0; bottom: 0; background: transparent; border: medium none; color: #fff; cursor: pointer; z-index: 1; }
.has-video .full-screen-btn:focus { outline: none; }

.callingBox__video-container { height: 100%; width: 100%; }
.callingBox__video-container.callingBox__video-container--audio { background: rgba(255, 255, 255, 0.2);}
.callingBox__video-container.callingBox__video-container--audio .callingBox__nameTag { display: flex; font-size: 1.25rem; align-items: center; justify-content: center; z-index: 0; text-align: center; height: 10rem; width: 10rem; left: 50%; top: 50%; border-radius: 50%; margin: -5rem 0 0 -5rem; }
.callingBox__video-container.callingBox__video-container--audio .callingBox__nameTag:after,
.callingBox__video-container.callingBox__video-container--audio .callingBox__nameTag::before { content: ""; position: absolute; left: 0; top: 0; z-index: -1; height: 100%; width: 100%; border-radius: 50%; background: rgba(255, 255, 255, 0.2); animation-duration: 2s; animation-iteration-count: infinite; }
.callingBox__video-container.callingBox__video-container--audio .callingBox__nameTag.user-speaking::after { animation-name: ripple1; }
.callingBox__video-container.callingBox__video-container--audio .callingBox__nameTag.user-speaking::before { animation-name: ripple2; animation-delay: 1s; }
.callingBox__video-wrapper.shared-active .callingBox__video-container.callingBox__video-container--audio .callingBox__nameTag { font-size: 1rem; height: 6rem; width: 6rem; margin: -3rem 0 0 -3rem; }

/* Slider Container */
.callingBox .buyer-collection { height: 100%; background: rgba(0, 0, 0, 0.2); backdrop-filter: blur(12.125rem); }
.callingBox .slider-container { position: absolute; padding-right: 0; left: 0; top: 0; z-index: 1; height: 100%; overflow: auto; background: rgba(0,0,0,0.5); }
.callingBox .main-slider__wrapper { padding: 2.625rem 6rem 2.625rem; }
.callingBox .main-slider { position: relative; box-shadow: 0px 0.25rem 2.75rem rgba(0, 0, 0, 0.55); border-radius: 1.125rem; background: #ffffff; }
.callingBox .main-slider .slide-item { padding: 1.5rem; color: rgba(0, 0, 0, 0.8);; outline: none; }
.callingBox .main-slider .slide-item__title { padding-bottom: 1.625rem; font-size: 1.625rem; font-weight: 700; }
.callingBox .main-slider .slide-item__desc { font-size: 1.5rem; line-height: 2.25rem; font-weight: normal; }
.callingBox .main-slider .slide-item__btn { margin: 0; padding: 2.25rem 3rem; font-weight: 700; display: inline-block; white-space: nowrap; text-align: center; border-radius: 0.3125rem; font-size: 1.25rem; color: #fff; text-decoration: none; background: linear-gradient(137.19deg, #A59A5E 1.27%, #887C3C 39.95%, #BCAB51 83.35%, #A59A5E 91.84%), linear-gradient(141.16deg, #F0DD2F -1.41%, #D39904 77.7%), linear-gradient(181.26deg, #2AAB7D 19.13%, #068A5B 98.93%);; }
.callingBox .main-slider .slide-item__pic { display: flex; align-items: center; height: 32rem; }
.callingBox .main-slider .slide-item__pic img { margin: 0 auto; height: 100%; }
.callingBox .main-slider .slick-slide { outline: none; }
.callingBox .main-slider .slick-prev, .callingBox .main-slider .slick-next { top: 23.75rem; height: 3.75rem; width: 3.75rem; border-radius: 50%; background: rgba(0, 0, 0, 0.8); text-align: center; line-height: 100%; }
.callingBox .main-slider .slick-next { right: -5rem; }
.callingBox .main-slider .slick-prev { left: -5rem; }
.callingBox .main-slider .slick-prev:before, 
.callingBox .main-slider .slick-next:before { font-size: 1.75rem; font-family: 'icomoon' !important; color: #ffffff; opacity: 1; }
.callingBox .main-slider .slick-prev:before { content: "\e900"; }
.callingBox .main-slider .slick-next:before { content: "\e901"; }
.callingBox__close { position: absolute; font-size: 3.5rem; border: medium none; right: 0.5rem; top: 0.5rem; min-width: auto; color: #ffffff; background: transparent; }
.callingBox__close i { background: #000; border-radius: 50%; }


/* Slider Thumbnails */
.callingBox .slider-thumbnails { padding: 3rem 10rem 0; position: static; width: 100%; height: 100%; overflow: auto; }
.position-relative { position: relative; }
.callingBox .slider-thumbnails__list { margin: 0 -0.75rem; list-style-type: none; overflow: auto; max-height: 100%; display: flex; flex-wrap: wrap; }
.callingBox .slider-thumbnails__list > li { position: relative; width: 16.66%; display: block; margin: 0 0 2rem; text-align: center; font-size: 1.25rem; }
.callingBox .slider-thumbnails__list > li.active > a { border: 0.3125rem solid #A69B62; border-radius: 0.625rem; }
.callingBox .slider-thumbnails__list > li > a { position: relative; margin-bottom: 0.5rem; display: flex; align-items: center; margin-right: auto; margin-left: auto; width: 4.375rem; height: 4.375rem; background: #ffffff; border-radius: 0.625rem; overflow: hidden; }
.callingBox .slider-thumbnails__list > li > span { display: block; }
.callingBox .slider-thumbnails__list > li > a > img { max-width: 100%; max-height: 100%; margin: auto; }
.callingBox .slider-thumbnails__list .slider-thumbnails__wishlist { position: absolute; right: 0.5rem; top: 0.5rem; font-size: 0.875rem; height: 2rem; width: 2rem; line-height: 2rem; border-radius: 50%; }
.callingBox .slider-thumbnails__list .wishlist--green { color: #ffffff; background: #2AAB7D; }
.callingBox .slider-thumbnails__list .wishlist--yellow { color: #D39904; background: #000; }
.callingBox .slider-thumbnails__list .slider-thumbnails__title { display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-size: 1.25rem; color: rgba(255,255,255,0.6); }
.callingBox .slider-thumbnails .slick-prev, .callingBox .slider-thumbnails .slick-next { top: 50%; margin-top: -1.75rem; height: 2.75rem; width: 2.75rem; border-radius: 50%; background: rgba(0, 0, 0, 0.8); text-align: center; line-height: 100%; }
.callingBox .slider-thumbnails .slick-next { right: -4.5rem; }
.callingBox .slider-thumbnails .slick-prev { left: -4.5rem; }
.callingBox .slider-thumbnails .slick-prev:before, 
.callingBox .slider-thumbnails .slick-next:before { font-size: 1rem; font-family: 'icomoon' !important; color: #ffffff; opacity: 1; }
.callingBox .slider-thumbnails .slick-prev:before { content: "\e900"; }
.callingBox .slider-thumbnails .slick-next:before { content: "\e901"; }



@keyframes ripple1 {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

@keyframes ripple2 {
    0% { transform: scale(1); }
    50% { transform: scale(2); }
    100% { transform: scale(1); }
}

/* Desktop */
@media only screen and (max-width: 991px) {
    .callingBox__header { padding: 1rem; }
    .callingBox__header .btn { padding: 1rem; font-size: 1rem; line-height: 1.5rem; }
    .callingBox__left { padding-top: 5.75rem; }
    .chat-box { height: 100vh; padding-bottom: 0; }
    .callingBox .link-btn { padding-right: 1rem; padding-left: 1rem; }
    .callingBox .link-btn > i { margin: 0; }
}


/* Tablet */
@media only screen and (max-width: 767px) {
}