@font-face {
  font-family: "icomoon";
  src: url("peter-commente/icomoon.eot?2dujgg");
  src: url("peter-commente/icomoon.eot?2dujgg#iefix")
      format("embedded-opentype"),
    url("peter-commente/icomoon.ttf?2dujgg") format("truetype"),
    url("peter-commente/icomoon.woff?2dujgg") format("woff"),
    url("peter-commente/icomoon.svg?2dujgg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-peter-comments:before {
  content: "\1f3c2";
  color: #828282;
}
