.chatNotificationContainer {
  position: absolute;
  z-index: 56;
  bottom: 0;
  left: -25vw;
  transition: 1s;
  opacity: 0;
  margin-bottom: 7rem;
  display: none;
}

.chatNotificationContainer-visible {
  display: block;
  left: 0rem;
  opacity: 1;
}

.chatNotification {
  position: relative;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
  font-size: 1.32rem;
  padding: 0.8rem 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  min-width: 15rem;
}

.closeButton-chatNotification {
  position: absolute;
  top: -0.35rem;
  right: -0.35rem;
  background: url(./assets/close.png);
  background-position: center;
  background-size: contain;
  cursor: pointer;
  transition: 0.15s;
  width: 1.5rem;
  height: 1.5rem;
}
.closeButton-chatNotification:hover {
  transform: scale(1.05);
}

@media only screen and (min-width: 991px) {
  .chatNotificationContainer {
    margin-right: 7rem;
    margin-bottom: 0rem;
  }
}
