.learningCentre { width: 4.6%; height: 4.1%; margin: 18.45% 30.0%; position: absolute; }
.experienceZone { width: 4.0%; height: 3.5%; margin: 18.8% 38.8%; position: absolute; }
.interviewRoom { width: 4.0%; height: 3.5%; margin: 18.8% 48.0%; position: absolute; }
.Networking { width: 5.1%; height: 3.5%; margin: 18.8% 56.95%; position: absolute; }
.DBR { width: 6.7%; height: 4.0%; margin: 18.5% 65.4%; position: absolute; }
.Audi { width: 7.78%; height: 2.8%; margin: 21.65% 44.95%; position: absolute; }

.lobbyCenterBuildingBranding { width: 13.8%; height: 17.9%; margin: 9.57% 42.85%; filter: sepia(20%) saturate(100%) brightness(80%) blur(0.25px); position: absolute; }
.lobbyLeftBuildingBranding { width: 7.9%; height: 10.6%; margin: 13.1% 27.1%; transform: perspective(1rem) rotateZ(1.5deg) rotateY(0.25deg); filter: sepia(20%) saturate(100%) brightness(80%) blur(0.25px); position: absolute; }
.lobbyRightBuildingBranding { width: 8.5%; height: 11.2%; margin: 12.8% 65.35%; transform: perspective(1rem) rotateZ(-1.5deg) rotateY(-0.25deg); filter: sepia(20%) saturate(100%) brightness(80%) blur(0.25px); position: absolute; }
.lobbyLeftPillarBranding { width: 4.0%; height: 45.15%; margin: 5.75% 20.6%; filter: sepia(20%) saturate(100%) brightness(80%) blur(0.25px); position: absolute; }
.lobbyRightPillarBranding { width: 4.25%; height: 46.75%; margin: 5.25% 77.0%; filter: sepia(20%) saturate(100%) brightness(80%) blur(0.25px); position: absolute; }
.lobbyLeftWallBranding { width: 8.1%; height: 10.65%; margin: 20.725% 7.3%; filter: sepia(20%) saturate(100%) brightness(80%) blur(0.25px); position: absolute; }
.lobbyRightWallBranding { width: 8.75%; height: 10.92%; margin: 20.725% 83.9%; filter: sepia(20%) saturate(100%) brightness(80%) blur(0.25px); position: absolute; }
.lobbyInfodeskStandeeBranding { width: 2.5%; height: 11.0%; margin: 28.6% 58.0%; transform: perspective(1rem) rotateY(-1.75deg); filter: sepia(20%) saturate(100%) brightness(80%) blur(0.25px); position: absolute; }

/* Tablet */
@media only screen and (min-width: 991px) {
    .learningCentre { width: 5.0%; height: 4.3%; margin: 20% 28.33%; }
    .experienceZone { width: 4.25%; height: 4.0%; margin: 20.4% 37.9%; }
    .interviewRoom { width: 4.25%; height: 3.9%; margin: 20.4% 47.9%; }
    .Networking { width: 5.4%; height: 3.9%; margin: 20.4% 57.5%; }
    .DBR { width: 7.1%; height: 4.1%; margin: 20.0% 66.6%; }
    .Audi { width: 8.5%; height: 2.8%; margin: 23.5% 44.5%; }

    .lobbyCenterBuildingBranding { width: 14.8%; height: 19.2%; margin: 10.42% 42.35%; }
    .lobbyLeftBuildingBranding { width: 8.6%; height: 11.4%; margin: 14.2% 25.15%; }
    .lobbyRightBuildingBranding { width: 9.2%; height: 11.8%; margin: 14% 66.45%; }
    .lobbyLeftPillarBranding { width: 4.5%; height: 49.25%; margin: 6.25% 18.15%; }
    .lobbyRightPillarBranding { width: 4.5%; height: 50.5%; margin: 5.75% 79.2%; }
    .lobbyLeftWallBranding { width: 8.65%; height: 11.35%; margin: 22.5% 3.95%; }
    .lobbyRightWallBranding { width: 9.45%; height: 11.8%; margin: 22.45% 86.6%; }
    .lobbyInfodeskStandeeBranding { width: 2.55%; height: 11.5%; margin: 30.95% 58.7% }    
}